

.footer-stick {
  background-color:#579c87;
  position: fixed;
  bottom: 0;
  width: 100%;

}
.footer-container {
  margin-top:15%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-content: center;
}

.__button{
  margin-left: 20px;
  border-radius: 30px;
  font-size:40%;
  font-family: "Raleway", sans-serif;
  background-color: #579c87;

}
.__button a:link{
  color: #fdcb46;
  text-decoration: none;
}
.__button a:visited{
  color: #fdcb46;
  text-decoration: none;

}
@media (min-width: 768px) and (orientation: landscape) {
  .footer-stick  {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .footer-stick{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .footer-stick .__button {
    border-radius: 30px;
    margin-bottom: 0;
  }
  .footer-stick .__button:first-child {
    text-align: left;
  }
  .footer-stick .__button:last-child {
    text-align: right;
  }
}
.footer-stick .__button a {
  display: block;
}
.footer-stick .__button a:hover {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}




