<div class="footer-container">

<div class="footer-cs">
<div class="__button" >
  <a href="public/html/mentions.html"><h1>Prochainement <div class="ellipsis">
    <div class="__dot">.</div><div class="__dot">.</div><div class="__dot">.</div>
  </div> </h1></a>
</div>

</div>
<div class="footer-stick">
<div class="__button">
  <a href="mailto:reservation@ohmyfood.com"><h1>Contactez-nous </h1></a>
</div>
<div class="__button">
  <a href="public/html/mentions.html"><h1>Mentions légales</h1></a>
</div>
</div>

</div>
