<app-header> </app-header>
<h1>Le délice des papilles</h1>
<div class="menu_container">
  <h1>Le délice des papilles</h1>
  <section class="first-course">
    <h2>Pour bien commencer</h2>
    <p>
      <span>Tartare de thon assaisonné au yuzu</span>
      <span>55€</span>
    </p>
    <p>
      <span>Bouchée de homard croustillant et sa farandole de petits légumes</span>
      <span>89€</span>
    </p>
    <p>
      <span>Velouté de cèpes aux truffes</span>
      <span>56€</span>
    </p>
  </section>

  <section class="main-course">
    <h2>Pour bien continuer</h2>
    <p>
      <span>Poulet rôti aux herbes de provence et sa crème de truffe</span>
      <span>110€</span>
    </p>
    <p>
      <span>Langoustine rôtie et ses légumes de saison</span>
      <span>225€</span>
    </p>
    <p><span>Côte de boeuf angus et sa purée de panais</span>
      <span>115€</span>
    </p>
  </section>

  <section class="dessert">
    <h2>Pour bien terminer</h2>
    <p>
      <span>Farandole de desserts du chef</span>
      <span>55€</span>
    </p>
    <p>
      <span>Crème brulée revisitée</span>
      <span>60€</span>
    </p>
    <p>
      <span>Tiramisu à la noisette</span>
      <span>55€</span>
    </p>
  </section>
</div>
<app-footer></app-footer>
