@import"../../utils/variables";
@import "../menu-style";
@import"../../utils/mixins";
.menu_container {
  background-color: #fff5fe;
  font-family: "PT Serif", serif;
}
.menu_container h1 {
  font-family: "Croissant One";
  color: #6e4ccc;
  margin: 0;
  background: -webkit-linear-gradient(left, #c77412, #a56799, #6e4ccc);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_container .first-course {
  color: #c67412;
}
.menu_container .first-course h2 {
  margin: 50px 0 28px 0;
  text-align: center;
  font-size: 1.2em;
  position: relative;
}
.menu_container .first-course h2::before {
  content: "";
  display: block;
  width: 15%;
  height: 6px;
  background: #c67412;
  position: absolute;
  top: 50%;
  transform: scaleX(1);
  left: 0;
  transform-origin: left;
  transition: transform 0.4s cubic-bezier(0, 0.5, 0, 1);
}
.menu_container .first-course h2::after {
  content: "";
  display: block;
  width: 15%;
  height: 6px;
  background: #c67412;
  position: absolute;
  top: 50%;
  transform: scaleX(1);
  right: 0;
  transform-origin: right;
  transition: transform;
}
.menu_container .first-course h2:hover::before {
  transform: scalex(6.68) translateY(400%);
}
.menu_container .first-course h2:hover::after {
  transform: scaleX(0);
}
.menu_container .main-course {
  color: #a56799;
}
.menu_container .main-course h2 {
  margin: 50px 0 28px 0;
  text-align: center;
  font-size: 1.2em;
  position: relative;
}
.menu_container .main-course h2::before {
  content: "";
  display: block;
  width: 18%;
  height: 6px;
  background: #a56799;
  position: absolute;
  top: 50%;
  transform: scaleX(1);
  left: 0;
  transform-origin: left;
  transition: transform 0.4s cubic-bezier(0, 0.5, 0, 1);
}
.menu_container .main-course h2::after {
  content: "";
  display: block;
  width: 18%;
  height: 6px;
  background: #a56799;
  position: absolute;
  top: 50%;
  transform: scaleX(1);
  right: 0;
  transform-origin: right;
  transition: transform;
}
.menu_container .main-course h2:hover::before {
  transform: scalex(5.55) translateY(400%);
}
.menu_container .main-course h2:hover::after {
  transform: scaleX(0);
}
.menu_container .dessert {
  color: #6e4ccc;
}
.menu_container .dessert h2 {
  margin: 50px 0 28px 0;
  text-align: center;
  font-size: 1.2em;
  position: relative;
}
.menu_container .dessert h2::before {
  content: "";
  display: block;
  width: 18%;
  height: 6px;
  background: #6e4ccc;
  position: absolute;
  top: 50%;
  transform: scaleX(1);
  left: 0;
  transform-origin: left;
  transition: transform 0.4s cubic-bezier(0, 0.5, 0, 1);
}
.menu_container .dessert h2::after {
  content: "";
  display: block;
  width: 18%;
  height: 6px;
  background: #6e4ccc;
  position: absolute;
  top: 50%;
  transform: scaleX(1);
  right: 0;
  transform-origin: right;
  transition: transform;
}
.menu_container .dessert h2:hover::before {
  transform: scalex(5.55) translateY(400%);
}
.menu_container .dessert h2:hover::after {
  transform: scaleX(0);
}
