<main>
  <div class="card one">
    <a routerLink="menu/la_note_enchantee">
      <i class="fas fa-music"></i>
      <p>La note enchantée</p>
      <h1>Menu</h1>
    </a>

  </div>

  <div class="card two">
    <a routerLink="menu/le_chic_a_la_francaise">
      <p>Le chic à la française</p>
      <h1>Menu</h1>
    </a>
  </div>

  <div class="card three">
    <a routerLink="menu/le_delice_des_papilles" >
      <p>Le delice des papilles</p>
      <h1>Menu</h1>
    </a>
  </div>

  <div class="card four">
    <a routerLink="menu/la_palette_du_gout">
      <p>La palette des goûts</p>
      <h1>Menu</h1>
    </a>
  </div>
</main>
