
.card-deck{
  align-items: center;
  align-content: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}
.card{
  height: 90vh;
  margin: 30px 20px;
  border: 2px solid grey;
  text-align: center;

  width: 40%;
flex-wrap: nowrap;
  padding: 5% 10%;


  box-sizing:border-box
}
.m_note_icon{
  height: 60px;
  width: 60px;
}
a {
  text-decoration: none;
}
.m_note p{
  font-size:30px;
  font-family: Devonshire, serif;
}
.m_note a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
.m_note :hover {
  animation: zoom 1500ms ease-in-out forwards;
}
.m_note h1 {
  font-family: "Bad Script", cursive;
}
.m_note.one {
  background-color: #fcdfdb;
}
.m_note.one .fa-music {
  font-size: 2.5em;
  color: #f15f62;
}
.m_note.one p {
  font-family: "Devonshire", cursive;
  font-size: 2em;
  margin-top: 0;
  color: #3c1218;
}
@media (min-width: 768px) and (orientation: landscape) {
  .m_note.one p {
    font-size: 3.5em;
  }
}
.m_note.one h1 {
  color: #3c1218;
  font-size: 2.5em;
  text-transform: uppercase;}
