<div class="card-deck">


      <div class="card m_delices">
        <a routerLink="menu/le_delice_des_papilles" >
          <p>Le delice des papilles</p>
          <h1>Menu</h1>
        </a>
      </div>
      <div class="card m_palette">
        <a routerLink="menu/la_palette_du_gout">
          <p>La palette des goûts</p>
          <h1>Menu</h1>
        </a>
      </div>
      <div class="card m_note">
        <img src="assets/m_note.png" alt="music-note" class="m_note_icon" height="40px" width="40px">
      <a routerLink="menu/la_note_enchantee">
        <i class="fas fa-music"></i>
        <p>La note enchantée</p>
        <h1>Menu</h1>
      </a>
    </div>
      <div class="card m_frchic">
      <a routerLink="menu/le_chic_a_la_francaise">
        <p>Le chic à la française</p>
        <h1>Menu</h1>
      </a>
    </div>



</div>

