<app-header> </app-header>


<div class="card-deck">
  <div class="menu-cover one">
    <a href="public/html/la_note_enchantee.html">
      <i class="fas fa-music"></i>
      <p>La note enchantée</p>
      <h1>Menu</h1>
    </a>
  </div>

  <div class="card">
    <a href="public/html/le_chic_a_la_francaise.html">
      <p>Le chic à la française</p>
      <h1>Menu</h1>
    </a>
  </div>

  <div class="card">
    <a href="public/html/le_delice_des_papilles.html">
      <p>Le delice des papilles</p>
      <h1>Menu</h1>
    </a>
  </div>

  <div class="card">
    <a href="public/html/la_palette_du_gout.html">
      <p>La palette des goûts</p>
      <h1>Menu</h1>
    </a>
  </div>

</div>

<div class="__button">
  <a href="">Prochainement</a>
  <div class="ellipsis">
    <div class="__dot"></div><div class="__dot"></div><div class="__dot"></div>
  </div>
</div>

<app-footer></app-footer>
