<app-header></app-header>
<div class="menu_container">
  <h1>La palette du goût</h1>
  <section class="first-course">
    <h2>Esquisse</h2>
    <p>
      <span>Fricassée d'escargot au piment d'espelette</span>
      <span>60€</span>
    </p>
    <p>
      <span>Oeuf au plat assaisonné à la truffe sur lit de caviar</span>
      <span>55€</span>
    </p>
    <p>
      <span>Foie gras de canard mi-cuit et ses copeaux de truffe noire</span>
      <span>65€</span>
    </p>
  </section>

  <section class="main-course">
    <h2>Oeuvre de maître</h2>
    <p>
      <span>Filet de boeuf aux herbes accompagné de sa ribambelle de légumes</span>
      <span>70€</span>
    </p>
    <p>
      <span>Parmentier de queue de boeuf à la truffe noire sur sa purée de panais</span>
      <span>85€</span>
    </p>
    <p><span>Filet de Turbot aux agrumes</span>
      <span>125€</span>
    </p>
  </section>

  <section class="dessert">
    <h2>Au sommet de l'art</h2>
    <p>
      <span>Paris-brest revisité</span>
      <span>55€</span>
    </p>
    <p>
      <span>Macaron au chocolat d'exception et glace à la vanille Madagascar</span>
      <span>65€</span>
    </p>
    <p>
      <span>Mousse au chocolat au piment d'espelette et à la truffe noire</span>
      <span>60€</span>
    </p>
  </section>
</div>
<app-footer></app-footer>
