@media (min-width: 768px) and (orientation: landscape) {

  .soon {
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.dot-elastic {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #fdcb46;
  color: #fdcb46;
  animation: dotElastic 2s infinite linear;
}

.dot-elastic::before, .dot-elastic::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-elastic::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fdcb46;
  color: #fdcb46;
  animation: dotElasticBefore 1s infinite linear;
}
.soon h1{
  color: #fdcb46;
  background-color:#579c87;
}
.soon {
  padding-bottom:5%;
  border: #3c1218 ;

  font-family: "Raleway", sans-serif;
  justify-content: center;
  text-decoration: none;
  border-radius: 16px;

  }
a{
  text-decoration: none;
}

