/* You can add global styles to this file, and also import other style files */
@media (min-width: 768px) and (orientation: landscape) {
  main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 60px;
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.19);
    opacity: 0.5;
  }
}
.menu-cover {
  height: 50vh;
  margin: 30px 0;
  border: 2px solid grey;
  text-align: center;
  padding-top: 5em;
}
@media (min-width: 768px) and (orientation: landscape) {
  .menu-cover {
    height: 100vh;
  }
}
.menu-cover a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
.menu-cover a:hover {
  animation: zoom 1500ms ease-in-out forwards;
}
.menu-cover h1 {
  font-family: "Bad Script", cursive;
}
.menu-cover.one {
  background-color: #fcdfdb;
}
.menu-cover.one .fa-music {
  font-size: 2.5em;
  color: #f15f62;
}
.menu-cover.one p {
  font-family: "Devonshire", cursive;
  font-size: 2em;
  margin-top: 0;
  color: #3c1218;
}
@media (min-width: 768px) and (orientation: landscape) {
  .menu-cover.one p {
    font-size: 3.5em;
  }
}
.menu-cover.one h1 {
  color: #3c1218;
  font-size: 2.5em;
  text-transform: uppercase;
}
.menu-cover.two {
  background-color: #fff5fe;
}
.menu-cover.two p {
  font-family: "Croissant One", cursive;
  font-size: 1.5em;
  color: #c77412;
  background: -webkit-linear-gradient(left, #c77412, #a56799, #6e4ccc);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 768px) and (orientation: landscape) {
  .menu-cover.two p {
    font-size: 2.5em;
  }
}
.menu-cover.two h1 {
  font-family: "Alice", serif;
  color: #c77412;
  font-size: 2.5em;
}
.menu-cover.three {
  background-color: #f9f9f9;
}
.menu-cover.three p {
  font-family: "Parisienne", cursive;
  font-size: 2em;
  color: #0887fb;
  background: -webkit-linear-gradient(left, #0228dd, #0670f3, #229df9);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 768px) and (orientation: landscape) {
  .menu-cover.three p {
    font-size: 3.5em;
  }
}
.menu-cover.three h1 {
  color: #0887fb;
  font-size: 2.5em;
}
.menu-cover.four {
  background-color: #fdfffd;
}
.menu-cover.four p {
  font-family: "Kaushan Script", cursive;
  font-size: 2em;
  color: #72bf56;
  background: -webkit-linear-gradient(left, #3e923a, #beff7f);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 768px) and (orientation: landscape) {
  .menu-cover.four p {
    font-size: 3.5em;
  }
}
.menu-cover.four h1 {
  color: #72bf56;
  font-size: 2.5em;
}

@media (min-width: 768px) and (orientation: landscape) {
  .soon {
    width: 50%;
    border-radius: 16px;
  }
}

.boutton:nth-child(3) {
  display: flex;
  justify-content: center;
}
.boutton:nth-child(3) div.ellipsis {
  position: relative;
}
.boutton:nth-child(3) div.ellipsis .__dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: 3px;
  background: #fdcb46;
  animation: wave 1.3s linear infinite;
}
.boutton:nth-child(3) div.ellipsis .__dot:nth-child(2) {
  animation-delay: -1.1s;
}
.boutton:nth-child(3) div.ellipsis .__dot:nth-child(3) {
  animation-delay: -0.9s;
}

@keyframes wave {
  0%, 60%, 100% {
    transform: initial;
  }
  30% {
    transform: translateY(-8px);
  }
}

/*# sourceMappingURL=styles.css.map */
