$background-color: #26A69A;
$logo-color: #FFD54F;
$back-menu-one: #fcdfdb;
$back-menu-two: #fff5fe;
$back-menu-three: #f9f9f9;
$back-menu-four: #fdfffd;
$color-menu-one: #3c1218;
$color-menu-two: #c77412;
$color-menu-three: #0887fb;
$color-menu-four: #72bf56;
